@font-face{
    font-family: "Traveling_Typewriter";
    src : url(fonts/TravelingTypewriter.ttf);
}

@font-face{
    font-family: "Roboto-light";
    src : url(fonts/roboto/Roboto-Light.ttf);
}

@font-face{
    font-family :"Century_Gothic";
    src : url(fonts/Century-Gothic.ttf);
}

@font-face{
    font-family: "Typo_round";
    src : url(fonts/typo_round/Typo_Round_Light_Demo.otf);
}

@font-face{
    font-family: "Typo_round_bold";
    src : url(fonts/typo_round/Typo_Round_Bold_Demo.otf);
}

header {
    min-height: 25%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
    text-align: center;
    padding: 15px;
    background-color: RGB(225,235,245);
    flex-wrap: wrap;
}

h1{
    font-family: "Century_Gothic";
    font-size: 30px;
}

h2{
    font-family: "Century_Gothic";
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h4{
    font-family: "Typo_round_bold";
    font-size: 40px;
}

p{
    font-size: auto;
}

#profil-img{
    width: 240px;
    height: 300px;
    margin-right: 15px;
    border-radius: 50%;
}

#social img{
    margin: 5px;
    padding-left: 15px;
}

nav{
    background-color: #88a5c7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article{
    margin: 0;
    flex: 1;
    
}

.fiche{
    background-color: #D8D8D8;
}

footer {
    background-color: #d5e3f3;
    color : black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Typo_round";
}

#linkedin{
    width: 50px;
    margin-bottom: 10px;
}

body {
    margin: 0;
    height: cover;
    font-family: Roboto-light;
}

#current-nav-item{
    background-color: #406289;
}

.nav-item{
    height: 75px;
    min-width: 200px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-item:hover{
    background-color: #334559;
}

.nav-item a {
    color: white;
    text-decoration: none;
}

.nav-item a, .nav-item a:visited{
    color: white;
    text-decoration: none;
}

/** RESPONSIVE **/
/* Mobile */
@media screen and (max-width : 600px){
        #profile{
        min-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex: 1;
    }
        #social{
        min-width: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: space-between;
    }
        #social div{
        width: 200px;
    }

    #formation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        width: 100%;
        padding: 0;
    }
    #section{
        width: 100%
    }
    #formation div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        width: 100%;
        margin: 15px;
        min-width: 300px;
    }

    #cours{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #amphi{
        width: 100%;
        margin: 0;
        background-position: right;
    }
  
    h3{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 200px;
        margin: 20px;
        font-family: "Typo_round";
        font-size: 25px;
    }
    #formation p{
        width: 300px;
        margin: 20px;
        text-align: center;
        font-family: "Typo_round_bold";
        font-size: 20px;
    }
}
  
  /* Tablette */
  @media only screen and (min-width: 600px) and (max-width: 900px){
    #profile{
        min-width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex: 1;
    }
    #social{
        min-width: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        align-items: space-between;
    }
    #social div{
        width: 200px;
    }

    #formation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        width: 100%;
        padding: 0;
    }
    #section{
        width: 100%
    }
    #formation div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        width: 100%;
        margin: 15px;
    }

    #cours{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #amphi{
        width: 100%;
        margin: 0;
        background-position: right;
    }

    h3{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 200px;
        font-family: "Typo_round";
        font-size: 25px;
    }
    #formation p{
        width: 300px;
        padding: 30px;
        font-family: "Typo_round_bold";
        font-size: 20px;
    }
}

/* ORDI */
@media screen and (min-width: 900px) {
    #profile{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex: 1;
    }
    #social{
        min-width: 250px;
        padding: 15px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: column;
        align-items: space-between;
    }
    #social div{
        width: 250px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    } 
    #formation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        align-content: space-around;
        width: 100%;
        padding: 0;
    }

    #formation div{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-content: space-around;
        align-items: center;
        width: 100%;
        margin: 15px;
    }

    #cours{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    #amphi{
        width: 35%;
        margin: 0;
        background-position: right;
    }

    h3{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 200px;
        font-family: "Typo_round";
        font-size: 22px;
    }
    #formation p{
        width: 400px;
        padding: 30px;
        font-family: "Typo_round_bold";
        font-size: 18px;
    }
    
}
